<div class="bg-white p-6 lg:p-8 max-w-7xl mx-auto space-y-6 animate-fade-up mt-10 rounded-field">
    @if( loading() ) {
    <app-skeleton />
    }
    <!--  -->
    @else {
    <div class="flex justify-between items-start">
        <div>
            <h1 class="text-3xl font-bold text-[#32244a]">{{ pageTitle() }}</h1>
        </div>
        <div class="flex gap-1">
            <button class="btn btn-xs btn-success rounded-sm" (click)="openModalNewTerm()">{{ 'common.button_new' | changeLanguage }}</button>
        </div>
    </div>
    <div class="overflow-y-auto p-2 pr-4 scrollbar-thin scrollbar-thumb-[#32244a] scrollbar-track-transparent h-[50vh]">
        @if( termsResource.isLoading() ) {
        <app-skeleton [pageName]="'table'" />
        }
        <!--  -->
        @if (termsResource.hasValue()){
        <app-terms-conditions-table [termResponse]="termsResource.value()" [updatedTerm]="updatedTerm()" (termSelected)="selectTermFromTable($event)" />
        }
    </div>
    @if (termsResource.hasValue()) {
    <app-pagination [paginationData]="termsResource.value()" />
    }
    }
</div>
<app-license-terms-modal [inputData]="selectedTerm()" (closed)="onModalClosed($event)" />
