<div class="bg-white p-6 lg:p-8 max-w-7xl mx-auto space-y-6 animate-fade-up mt-10 rounded-field">

    @if (loading()) {
    <app-skeleton [pageName]="'settings'" />
    } @else {
    <h1 class="text-3xl font-bold text-[#32244a]">{{ pageTitle() }}</h1>
    
    <div class="tabs tabs-lift">
        <!-- GENERAL -->
        <input type="radio" name="my_tabs_3" class="tab" [attr.aria-label]="'general_settings.tabs.general' | changeLanguage" checked="checked" />
        <div class="tab-content bg-base-100 border-base-300 p-6">
            <div class="overflow-y-auto p-2 pr-4 scrollbar-thin scrollbar-thumb-[#32244a] scrollbar-track-transparent h-[50vh]">
            </div>
        </div>

        <!-- TERMS AND CONDITIONS -->
         <input type="radio" name="my_tabs_3" class="tab" [attr.aria-label]="'general_settings.tabs.terms' | changeLanguage"/>
        <div class="tab-content bg-base-100 border-base-300 p-6">
            <div class="overflow-y-auto p-2 pr-4 scrollbar-thin scrollbar-thumb-[#32244a] scrollbar-track-transparent h-[50vh]">
                @if( licensesTermsResource.isLoading() ) {
                    <div class="flex justify-center items-center h-full">
                        <span class="loading loading-spinner loading-lg"></span>
                    </div>
                }
                @if (licensesTermsResource.hasValue()){
                     <app-terms-conditions-table [termResponse]="licensesTermsResource.value()" [updatedTerm]="updatedTerm()" (termSelected)="selectTermFromTable($event)" (termNew)="openModalNewTerm()"/>
                }
            </div>
        </div>


        <!-- TEMPLATES -->
        <input type="radio" name="my_tabs_3" class="tab" [attr.aria-label]="'general_settings.tabs.templates' | changeLanguage"  />
        <div class="tab-content bg-base-100 border-base-300 p-6">
            <div class="overflow-y-auto p-2 pr-4 scrollbar-thin scrollbar-thumb-[#32244a] scrollbar-track-transparent h-[50vh]">
                @if( licensesTemplateResource.isLoading() ) {
                    <div class="flex justify-center items-center h-full">
                        <span class="loading loading-spinner loading-lg"></span>
                    </div>
                }
                @if (licensesTemplateResource.hasValue()){
                    <!-- <app-license-template-table [templateResponse]="licensesTemplateResource.value()" (templateSelected)="selectTemplateFromTable($event)" (templateNew)="openModalNewTemplate($event)"/> -->
                     <app-license-template-table [licenseTemplateData]="licensesTemplateResource.value()" />
                }
            </div>
            @if (licensesTemplateResource.hasValue()) {
                <app-pagination [paginationData]="licensesTemplateResource.value()" />
            }
        </div>

    </div>
    }

</div>
<!-- @if (selectedTemplate()){ -->
<!-- <app-license-template-modal [inputData]="selectedTemplate()" (closed)="onModalClosed($event)" /> -->
<!-- } -->

<!-- MODAL TERMINOS Y CONDICIONES -->
<app-license-terms-modal [inputData]="selectedTerm()" (closed)="onModalTermsClosed($event)" />